ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    position:sticky;
    top:0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #111;
  }
  p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }





img {
    max-width:75%;
    height:auto;
    
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }



body {
    background-color:maroon;
    color:white;
    text-align: left;

}

h1 {
    color:black;
    background-color:maroon;
    text-align: center;
}

h2 {
    background-color:maroon;
    color:black;
    text-align:left;
}
p {
    background-color:maroon;
    color:white;
    text-align: center;
}

.button {

    text-align:center;
    color:white;
    align-items: center;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid black; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #4CAF50;
    color:black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    flex-direction: row;
  }

  a:link, a:visited {
    background-color: black;
    color:  white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
 
  a:hover, a:active {
    background-color: black;
  }